body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.main-container, .analytics-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #FF7F7F;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.upload-container, .analytics-container {
    background-color: #309bd0;
    border-radius: 20px;
    padding: 20px;
}

.upload-section, .analytics-section {
    margin: 0 auto;
}

.container {
    position: relative;
    width: 100%;
    height: calc(100vh - 60px); /* Adjust the height for navigation buttons */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FF7F7F;
}

.title {
    font-size: 48px;
    font-weight: bold;
    color: #000000;
    text-align: center;
}

.subtitle {
    font-size: 16px;
    color: #000000;
    text-align: center;
    margin-top: 10px;
}

.flower-top, .wave-top, .wave-bottom, .flower-bottom {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.flower-top {
    top: 50px;
    left: 50px;
    background-image: radial-gradient(circle at 50% 50%, #FFD700, #00FF00, #9400D3);
}

.flower-top::before, .flower-top::after,
.wave-top::before, .wave-top::after,
.wave-bottom::before, .wave-bottom::after,
.flower-bottom::before, .flower-bottom::after {
    content: "";
    position: absolute;
    border-radius: 50%;
}

.flower-top::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    background-image: radial-gradient(circle at 50% 50%, #FFD700, #00FF00, #9400D3);
    opacity: 0.5;
}

.flower-top::after {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background-image: radial-gradient(circle at 50% 50%, #FFD700, #00FF00, #9400D3);
    opacity: 0.25;
}

.wave-top {
    top: 50px;
    right: 50px;
    background-image: linear-gradient(to right, #FFD700, #9400D3);
    opacity: 0.5;
}

.wave-top::before {
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 100px;
    height: 100px;
    background-image: linear-gradient(to right, #FFD700, #9400D3);
    opacity: 0.25;
}

.wave-top::after {
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 50px;
    height: 50px;
    background-image: linear-gradient(to right, #FFD700, #9400D3);
    opacity: 0.125;
}

.wave-bottom {
    bottom: 50px;
    left: 50px;
    background-image: linear-gradient(to right, #FFD700, #9400D3);
    opacity: 0.5;
}

.wave-bottom::before {
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 100px;
    height: 100px;
    background-image: linear-gradient(to right, #FFD700, #9400D3);
    opacity: 0.25;
}

.wave-bottom::after {
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 50px;
    height: 50px;
    background-image: linear-gradient(to right, #FFD700, #9400D3);
    opacity: 0.125;
}

.flower-bottom {
    bottom: 50px;
    right: 50px;
    background-image: radial-gradient(circle at 50% 50%, #00FF00, #9400D3, #FFD700);
}

.flower-bottom::before {
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    width: 100px;
    height: 100px;
    background-image: radial-gradient(circle at 50% 50%, #00FF00, #9400D3, #FFD700);
    opacity: 0.5;
}

.flower-bottom::after {
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    width: 50px;
    height: 50px;
    background-image: radial-gradient(circle at 50% 50%, #00FF00, #9400D3, #FFD700);
    opacity: 0.25;
}

.navigation-buttons {
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
}

.navigation-buttons button {
    background-color: #61dafb;
    border: none;
    padding: 10px 20px;
    color: #282c34;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.navigation-buttons button:hover {
    background-color: #52c7e2;
}


@keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  .fade-out {
    animation: fadeOut 1s forwards;
  }
  
  .fade-in {
    animation: fadeIn 1s forwards;
  }
